.none{
    display: none;
    width: 20px;
    height: 30px;
    background-color: aqua;
}
.hops{
    width: 80px;
    height: 40px;
    background-color: aliceblue;
}
.scooby1{
    display: block;
    font-size: 50px;
    background-color: blue;
    color: white;
}
.scooby2{
    display: block;
    background-color: blue;
    font-size: 50px;
}
.academy1{
    display: inline;
    background-color: blueviolet;
    

}
.academy2{
    display: inline;
    background-color: black;
    color: white;
}
.inblock1{
    display: inline-block;
    background-color: indianred;
    font-size: 25px;
    width: 100px;
    height: 100px;
}
.inblock2{
    display: inline-block;
    background-color: aquamarine;
    font-size: 25px;
    width: 100px;
    height: 100px;
}
